*{
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

/* mobile first */

body{
    background-color: aqua;
}

.tienda{
    background-color: rgb(248, 226, 28);
}

.comunidad {
    padding: 2rem;
    text-align: center;
}


.comunidad img {
width: 50%;

}

.texto{
    padding: 2rem;
    font-size: 1.8rem;
}

.texto p {
    padding: 1rem;
}

.footer{
text-align: center;
height: 10vh;
font-size: 1.4rem;
}

/* Tableta*/
@media(min-width:768px){
    
    body{
      background-color: blueviolet;
    }
    .tienda{
      background-color: rgb(168, 168, 244);
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
    }
    .tienda div{
      width: 30%;
      background-color: rgb(229, 229, 229);
    }
    .tienda img{
      width: 90%;
    }
    .comunidad{
      background-color: crimson;
      display: flex;
    }
    .comunidad div {
    width: 100%;
    }

    .comunidad img {
        width: 20%;
    }
  }
  @media(min-width:768px) and (max-width:1024px){
    .tienda{
        text-align: left;
    }

}

  /* Escritorios*/

  @media(min-width:992px){
    .tienda{
      flex-wrap: nowrap;
    }
  }

  /* Pantallas grandes */
  @media(min-width:1200px){
    body{
      background-color: chocolate;
    }

  } 