/* .colorTitulo{
    color: red;
}

.fuenteParra{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */

.adoptada{
    text-decoration: line-through;
    color: blueviolet;
  }

