#reloj {
    font-size: 3rem;
    text-align: center;
    color: green;
}

#amPm {
    width: 4rem;
    background-color: grey;
    color: black;
    border-radius: 5px;
}

#btn24 {
    width: 4rem;
    background-color: grey;
    color: black;
    border-radius: 5px;
}

#contenedor{
    text-align: center;
}