* {
    margin: 0;
    padding: 0;
}

#grilla {
    display: grid;
    grid-template-areas:
        "nav header header"
        "nav producto publicidad"
        "nav servicios publicidad"
        "nav footer footer";

    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 25% auto 15%;
    row-gap: 10px;
    column-gap: 20px;
    height: 100vh;
}

header {
    background-color: red;
    grid-area: header;
}

footer {
    background-color: aqua;
    grid-area: footer;
}

aside {
    background-color: coral;
    grid-area: publicidad;

}

#productos {
    background-color: blue;
    grid-area: producto;
}

#servicios {
    background-color: yellow;
    grid-area: servicios;
}

nav {

    background-color: yellowgreen;
    grid-area: nav;

}

.borde {
    border: solid 1px black;

}

.listado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.listado_encabezado{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.listado_encabezado li {
    display: inline-block;
    margin: 1rem;
    padding: 2rem;
    background-color: aqua;
    }

    /* grid con mediaqueries*/

    @media(min-width: 768px){
       #grilla{ 
        grid-template-columns: repeat(5, 1fr);
        grid-template-columns: 20% auto; ;
     }
     .borde{
        border: 5px solid black;
        background-color: blueviolet;
      }
    }
    @media(min-width: 1024px){
        #grilla{
          grid-template-columns: repeat(3, 1fr);
        }
        .borde{
          background-color: rgb(54, 178, 60);
        }
      }