.padre{
    background-color: bisque;
    display: flex;
    justify-content: space-between
}
.caja1{
    background-color: red;
}
.caja2{
    background-color: blue;
}
.caja3{
    background-color: rgb(43, 185, 30);
}
.caja4{
    background-color: rgb(186, 5, 241);
}